*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    font-size: 14px;
}

body {
    margin: 0;
    --color-text: #333;
    --color-bg: #fefefe;
    --color-link: #999;
    --color-link-hover: #fff;
    --color-primary: #88e7c4;
    --color-secondary: #c5517d;
    --color-description: #3b343a;
    color: var(--color-text);
    background-color: var(--color-bg);
    font-family: pragmatica-extended, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}